body {
	overflow: hidden;
}

#viewport {
	width: 800px;
	height: 600px;
	border: solid;
	position: relative;
	margin-left:auto;
	margin-right:auto;
}
#viewport canvas {
	position: absolute;

}
#topLayer {
	
	z-index:1;
}
#botLayer {	
	background-color: transparent;
	z-index:0;
}